<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unicom.exams.service.mapper.SysTestpaperMapper">
    <resultMap id="BaseResultMap" type="cn.unicom.exams.model.vo.TestPaperInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="testName" property="testName" jdbcType="VARCHAR" />
        <result column="res_id" property="resId" jdbcType="BIGINT" />
        <result column="dept_id" property="deptId" jdbcType="BIGINT" />
        <result column="testCount" property="testCount" jdbcType="INTEGER" />
        <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR" />
        <result column="testStatus" property="testStatus" jdbcType="VARCHAR" />
        <result column="createUser" property="createUser" jdbcType="VARCHAR" />
        <result column="examsStartTime" property="examsStartTime" />
        <result column="examsEndTime" property="examsEndTime" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <association property="sysDept" javaType="cn.unicom.exams.model.entity.SysDept" >
            <id  column="deptid" property="id"/>
            <result column="deptname" property="deptname" />
        </association>
        <association property="resourceinfo" javaType="cn.unicom.exams.model.entity.SysResourceinfo" >
            <id  column="rid" property="id"/>
            <result column="resourceName" property="resourceName" />
        </association>
    </resultMap>
    <select id="getTestPaperInfoByPage" resultMap="BaseResultMap">
        select a.*,b.id deptid,b.deptname,c.id rid,c.resourceName from sys_testpaper a
        INNER JOIN sys_dept b on a.dept_id=b.id
        INNER JOIN sys_resourceinfo c on a.res_id=c.id
        ${ew.customSqlSegment}
    </select>
</mapper>
