<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unicom.exams.service.mapper.SysUnlearndurationMapper">

    <select id="getEmpUnlearnResourceByPage" resultType="cn.unicom.exams.model.vo.Material">
    select r.id materialID,r.resourceType materialType,r.resourceName materialName,r.url materialURL,t.id examID,t.testName examName,t.testCount examNum,t.imgUrl materialImg,t.updateTime publishDate,t.examsStartTime startDate,t.examsEndTime finishDate from (select * from sys_testpaper where examsStartTime>=date_add(curdate(),INTERVAL -1 year) and testStatus='发布') t inner join
    sys_resourceinfo r on t.res_id=r.id
    inner join
    sys_unlearnduration u on t.id=u.t_id
    ${ew.customSqlSegment}
    </select>

    <select id="getUnlearnResEmpInfoByPage" resultType="cn.unicom.exams.model.vo.UnlearnEmpInfo">
        select b.employeeName,c.deptname deptName,d.resourceName from sys_unlearnduration a
        INNER JOIN sys_employee b on a.emp_code=b.employeeCode
        INNER JOIN sys_dept c on b.dept_id=c.id
        INNER JOIN sys_resourceinfo d on d.id=a.res_id
        ${ew.customSqlSegment}
    </select>
</mapper>
